@inject IConfiguration config
@{
    var url = config["BaseHost"];
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin</title>
    <!-- Logo web -->
    <link rel="icon" type="image/png" sizes="32x32" href="/images/logo.png">

    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.4/font/bootstrap-icons.css">

    <!-- Animate.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.2/animate.min.css">

    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">

    <!-- Css -->
    <link href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css" rel="stylesheet" />

    <!-- Script -->
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
</head>

<body>

    <div class="sidebar active">
        <div class="d-flex justify-content-center">
            <a class="logo" href="/admin">
                <img src="~/images/logo.png" alt="Alternate Text" class="img-fluid" width="100px" height="100px" />
            </a>
        </div>
        <ul>
            <div class="menu-letter">
                <span class="fw-bolder">Dashboard</span>
            </div>
            <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Home" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                <a href="/admin">
                    <i class="fa-solid fa-chart-simple"></i>
                    <span class="nav-item">Statistics</span>
                </a>
                <span class="tooltip">Statistics</span>
            </li>

            <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Orders" ? "active" : "")">
                <a href="/Admin/orders">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span class="nav-item">Orders</span>
                </a>
                <span class="tooltip">Orders</span>
            </li>

            <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Products" ? "active" : "")">
                <a href="/admin/products">
                    <i class="fa-solid fa-store"></i>
                    <span class="nav-item">Products</span>
                </a>
                <span class="tooltip">Products</span>
            </li>

            <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Recipes" ? "active" : "")">
                <a href="/admin/recipes">
                    <i class="fa-solid fa-book"></i>
                    <span class="nav-item">Recipes</span>
                </a>
                <span class="tooltip">Recipes</span>
            </li>

            <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Articles" ? "active" : "")">
                <a href="/admin/articles">
                    <i class="fa-solid fa-newspaper"></i>
                    <span class="nav-item">Articles</span>
                </a>
                <span class="tooltip">Articles</span>
            </li>

            <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Categories" ? "active" : "")">
                <a href="/admin/categories">
                    <i class="fa-solid fa-list"></i>
                    <span class="nav-item">Categories</span>
                </a>
                <span class="tooltip">Categories</span>
            </li>

            <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Users" ? "active" : "")">
                <a href="/admin/users">
                    <i class="fa-solid fa-user"></i>
                    <span class="nav-item">Users</span>
                </a>
                <span class="tooltip">Users</span>
            </li>

            <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Coupons" ? "active" : "")">
                <a href="/admin/coupons">
                    <i class="fa-solid fa-ticket"></i>
                    <span class="nav-item">Coupons</span>
                </a>
                <span class="tooltip">Coupons</span>
            </li>
        </ul>

    </div>
    <div class="main ">
        <div class="main-controler-bar row">
            <div class="col-sm-7">
                <input type="text" class="form-control mx-5" id="input" placeholder="Search">
            </div>
            <div class="col-sm-5 d-flex justify-content-center gap-2">
                <div class="thumbnail-user-img" id="avatarAdmin">
                </div>
                <div class="dropdown ">
                    <button id="fullnameAdmin" type="button" class="btn btn-primary dropdown-toggle button-menu-user"
                            data-bs-toggle="dropdown">
                    <span id="FullNameAdmin"></span>
                    <span id="AvatarAdmin"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/admin/account/updateprofile"><i class="fa-solid fa-user me-2"></i>Profile</a></li>
                        <li><a class="dropdown-item" href="/admin/home/help"><i class="fa-solid fa-circle-info me-2"></i>Help</a></li>
                        <li><a class="dropdown-item" href="/admin/account/logout"><i class="fa-solid fa-right-from-bracket me-2"></i>Logout</a></li>

                    </ul>
                </div>

                <div class=" d-flex justify-content-center align-items-center notification ">
                    <div class="dropdown ">
                        <button type="button" class="btn position-relative">
                            <i class="fa-solid fa-bell"></i> <!-- Biểu tượng thông báo -->
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                99+
                                <span class="visually-hidden">unread messages</span>
                            </span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">This is notification!</a></li>

                        </ul>
                    </div>

                    <span class="notification-dot"></span>
                </div>
            </div>
        </div>
        <div class="separator">
        </div>
        <div  class="p-4 render">
            @RenderBody()
        </div>
    </div>

    <!-- Bootstrap Link JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Html.PartialAsync("_ValidationScriptsPartial")

    @await Component.InvokeAsync("Notyf")
    <script>
        var successMessage = '@(TempData["SuccessMessage"] ?? "")';
        var errorMessage = '@(TempData["ErrorMessage"] ?? "")';

        if (successMessage) {
            Swal.fire({
                title: 'Success!',
                text: successMessage,
                icon: 'success',
                confirmButtonText: 'OK',
                timer: 3000
            });
        }

        if (errorMessage) {
            Swal.fire({
                title: 'Error!',
                text: errorMessage,
                icon: 'error',
                confirmButtonText: 'OK',
                timer: 3000
            });
        }

        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) {
                return decodeURIComponent(parts.pop().split(';').shift());
            }
            return null;
        }

        // Lấy giá trị cookie "Name" và hiển thị
        const fullName = getCookie("FullNameAdmin");
            if (fullName) {
                    document.getElementById("FullNameAdmin").innerText = fullName;
        }

        const avatar = getCookie("AvatarAdmin");
        if (avatar) {
            const url = "@Url.Content(url + "/images/")";
            document.getElementById("AvatarAdmin").innerHTML =
                `<img src="${avatar}" class="img-fluid rounded-circle" style="width:25px;height:25px" />`;
        } else {
            document.getElementById("AvatarAdmin").innerHTML = `<i class="fa-solid fa-user"></i>`;
        }
    </script>
</body>

</html>




