@using FoodieHub.MVC.Models.QueryModel
@using FoodieHub.MVC.Models.User
@using FoodieHub.MVC.Models.Response
@inject IConfiguration config
@{
    ViewData["Title"] = "Users";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var url = config["BaseHost"];
    var query = ViewBag.Query as QueryUserModel ?? new QueryUserModel();
}
@model PaginatedModel<UserDTO>
<div class="container py-4">
    <!-- Header Section with Create Button, Filter, and Search -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <a asp-action="Create" class="btn btn-primary">Add New User</a>
        </div>
        <form asp-action="Index" class="d-flex align-items-center">
            <a asp-action="Index" class="btn btn-light">Clear all Filter</a>
            <label for="Role" class="me-2">Role</label>
            <select name="Role" class="form-select form-select-sm me-2" style="width: 150px;">
                <option value="">All</option>
                @if (query.Role == "Admin")
                {
                    <option value="Admin" selected>Admin</option>
                }
                else
                {
                    <option value="Admin">Admin</option>
                }
                @if (query.Role == "User")
                {
                    <option value="User" selected>User</option>
                }
                else
                {
                    <option value="User">User</option>
                }
         

               
                <!-- Add more roles as needed -->
            </select>

            <label for="Email" class="me-2">Email</label>
            <input name="Email" value=@query.Email class="form-control form-control-sm me-2" placeholder="Search by email.." style="width: 250px;" />

            <button type="submit" class="btn btn-secondary">Filter</button>
        </form>
    </div>

    <!-- Table Section -->
    <div class="table-responsive">
        <table class="table table-bordered text-center align-middle">
            <thead class="table-light">
                <tr>
                    <th>FullName</th>
                    <th>Avatar</th>
                    <th>Email</th>
                    <th>Joined At</th>
                    <th>Role</th>
                    <th>IsActive</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Items != null)
                {
                    foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@item.Fullname</td>
                            <td>
                                @if(item.Avatar!=null){
                                    <img src="@item.Avatar" alt="Avatar Image" class="img-thumbnail" style="width:50px;height:50px" />
                                }
                                else{
                                    <img src="/images/profile.jpg" alt="Avatar Image" class="img-thumbnail" style="width:50px;height:50px" />
                                }
                            </td>
                            <td>@item.Email</td>
                            <td>@item.JoinedAt</td>
                            <td>@item.Role</td>
                            <td>@item.IsActive</td>
                            <td>
                                <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-info btn-sm">Detail</a>
                                @if (item.Role != "Admin")
                                {
                                    var userid = item.Id;
                                    if (item.IsActive)
                                    {
                                        <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="@("#model" + userid)">Terminate User</button>

                                        <!-- Confirmation Modal -->
                                        <div class="modal fade" id="@("model"+userid)" tabindex="-1" ari aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Confirm Terminate</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        This action will terminate the user, and the user will not have permission to access the system after this action.
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                        <a asp-action="Disable" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Terminate</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="@("#modelrestore" + userid)">Restore User</button>

                                        <!-- Confirmation Modal -->
                                        <div class="modal fade" id="@("modelrestore"+userid)" tabindex="-1" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Confirm Restore</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        This action will restore the user, and the user will have permission to access the system after this action
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                        <a asp-action="Restore" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Restore</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }                              
                            </td>
                        </tr>
                    }                
                }
            </tbody>
        </table>
    </div>

    <!-- Pagination -->
    <form method="get" class="d-flex justify-content-between align-items-center mt-3">
        <!-- Select box for page size -->
        <div>
            <select name="pageSize" class="form-select form-select-sm" style="width: 70px;" onchange="this.form.submit()">
                @for (int i = 2; i <= 20; i += 2)
                {
                    if (Model.PageSize == i)
                    {
                        <option value="@i" selected>@i</option>
                    }
                    else
                    {
                        <option value="@i">@i</option>
                    }

                }
            </select>
        </div>

        <!-- Pagination navigation -->
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-sm mb-0">
                <!-- Nút Previous (ẩn nếu đang ở trang đầu tiên) -->
                <li class="page-item @(Model.Page == 1 ? "disabled" : "")">
                    <a class="page-link" asp-route-pageSize="@Model.PageSize" asp-route-Page="@(Model.Page - 1)">Previous</a>
                </li>

                <!-- Tạo danh sách các trang -->
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.Page ? "active" : "")">
                        <a class="page-link" asp-route-pageSize="@Model.PageSize" asp-route-Page="@i">@i</a>
                    </li>
                }

                <!-- Nút Next (ẩn nếu đang ở trang cuối) -->
                <li class="page-item @(Model.Page == Model.TotalPages ? "disabled" : "")">
                    <a class="page-link" asp-route-pageSize="@Model.PageSize" asp-route-Page="@(Model.Page + 1)">Next</a>
                </li>
            </ul>
        </nav>
    </form>
</div>

<style>
    body {
        background-color: #f5f9ff;
    }

    h2 {
        color: #2c3e50;
    }

    .table-bordered th, .table-bordered td {
        vertical-align: middle;
    }
</style>
